@{
    ViewBag.Title = "Blog Feed";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section PageSpecificScripts
{
    @*<link href="~/Content/Libraries/contents.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/Libraries/build-config.js"></script>*@
    <script src="~/Scripts/Libraries/ckeditor.js"></script>
    <script src="~/Scripts/Libraries/config.js"></script>
    @*<script src="~/Scripts/Libraries/styles.js"></script>*@
    <script src="~/Scripts/Libraries/en.js"></script>
    @*<link href="~/Content/Libraries/CKEditor/dialog.css" rel="stylesheet" />*@
    <link href="~/Content/Libraries/CKEditor/editor.css" rel="stylesheet" />
}
@using Orange.Core.Utility
@using Orange.Core.Entities
@model Web.Models.BlogFeed

<div class="small-16 columns" style="background-color: #FFFFFF;">
    <br /><br /><br />
    <h2 class="text-center">Sample Blog</h2>


    @{
        if(Convert.ToBoolean(Session["Authenticated"]))
        {
            <div class="row">
                <div class="small-16 columns text-center">
                    <br />
                    <a class="button small-10">Add New Blog Entry</a>
                    <hr />
                    
                                    


                </div>
            </div>
        }        
    }    

    @* THIS EDIT IS HERE FOR TESTING ONLY. IT NEEDS TO BE WITHIN THE AUTHENTICATED SECTION. *@
    <div class="row">
        <div class="small-16 columns">
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
        </div>
    </div>



    @{bool additionalPosts = (Model.Posts.Count > 3);}
    @for (int p = 0; p < 3; ++p)
    {
        <div class="row">
            <div class="small-16 columns">
                <br />
                <h2 class="text-left">@Model.Posts[p].Subject</h2>
                <h5 class="text-left">@Model.Posts[p].EffectiveDate</h5>
                <p class="text-left">@Model.Posts[p].Body.TrimToEllipsis(256)</p>
                <p></p>
            </div>
            <div class="small-4 columns">
                <label class="standard-cursor">Comments (@Model.Posts[p].CommentCount)</label>
            </div>
            <div class="small-16 columns">
                <br />
                @Html.ActionLink("Read Post", "BlogPost", "Posts", new { locatorId = @Model.Posts[p].Id }, new { @id = "btnBlogPost", @class="button small-6" })
            </div>
            <hr />
        </div>        
    }

    @if (Model.Posts.Count > 3)
    {
        if (Model.Posts.Count > 8)
        {
            <div class="row">
                <div class="small-16 columns">
                    <br />
                    <a class="button small-16">Load next five posts</a>
                </div>
            </div>  
        }
        else
        {
            <div class="row">
                <div class="small-16 columns">
                    <br />
                    <a class="button small-16">Load next (@Model.Posts.Count - 3) posts</a>
                </div>
            </div>
        }
    }
    
    <br />
    <br />   

</div>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
</script>