@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section PageSpecificScripts
{
    <script src="~/Scripts/Orange/Posts.js?@System.Configuration.ConfigurationManager.AppSettings["versioning"]"></script>
}

@using Orange.Core.Results
@using Orange.Core.Entities
@model Web.Models.BlogPost

<div class="small-16 columns" style="background-color: #FFFFFF;">
    <br /><br /><br />
    <h2 class="text-center">Sample Blog Post</h2>
    
    <div class="row">
        <div class="small-16 columns">
            <br />
            <h2 class="text-left">@Model.Post.Subject</h2>
            <h5 class="text-left">@Model.Post.EffectiveDate</h5>
            <p class="text-left">@Model.Post.Body</p>
            <br />
        </div>
        <hr />
    </div>
        
    @Html.Partial("_PostComment", @Model)
    
    @{
        if (Model.ViewPendingComments)
        {
            @Html.Partial("_PendingComments", Model)
        }
    }

    @Html.Partial("_ApprovedComments", Model)
    
    @*<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'stacylutz';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>*@

    <br />
    <br />
    <br />
</div>